#circle_border {
    border-radius: 60%;
    display: block;
    margin: auto;
    max-width: 100%;
}

.一言 {
    font-size: 20px;
}


.friend-list li a {
    color:rgb(244, 7, 0);
}



.round {
    border-radius: 20px;
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

img {
    height: 100px;
    width: 100px;
}

.red {
    color:rgb(244, 7, 0);
}

.link a{
    background-color: #fd0000;
}
@keyframes expand {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(0.9);
    }

    /* 放大到 1.2 倍 */
    100% {
        transform: scale(1.2);
    }
}

